/* base style */
body,html{
	width : 100%;
	height : 100%;
	min-height : 100%;
	padding : 0;
	margin : 0;
	min-height : 100%;
	display : block;
	@include single-transition(all 0.4s);


}
body {
	font-family : $BYekan;
	direction : rtl;
	
}

.fa {
	@include fa-icon;
}
a{
	text-decoration : none;
	color : darken($grey2,30%);
	&:hover{
		color : $red;
	}
}
// #wpadminbar{
// 	display :none;
// }
img,video,audio,iframe{
	max-width : 100;
}
input,textarea,button{
	max-width : 100%;
}
h1,h2,h3,h4,h5,h6,a{
	color : $black1;
}
ul, menu, dir {
    
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
