/* mixins */
// @mixin menu-gradiant() {
// 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,e6e6e6+51,f8f8f8+100 */
// background: #f8f8f8; /* Old browsers */
// background: -moz-linear-gradient(top,  #f8f8f8 0%, #e6e6e6 51%, #f8f8f8 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(51%,#e6e6e6), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 51%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 51%,#f8f8f8 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 51%,#f8f8f8 100%); /* IE10+ */
// background: linear-gradient(to bottom,  #f8f8f8 0%,#e6e6e6 51%,#f8f8f8 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

	
// }
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin display-none(){
	-moz-transition: opacity .25s linear, visibility .1s linear .3s;
	-webkit-transition: opacity .25s linear, visibility .1s linear .3s;
	-o-transition: opacity .25s linear, visibility .1s linear .3s;
	transition: opacity .25s linear, visibility .1s linear .3s;
	visibility: hidden;
}