/* ------------susy-------- */
$total-columns : 12;
$column-width : 4em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: right;
$omega-float : left;

$default-transition-delay    : 0s;
@include border-box-sizing;

$small : 30em;
$xmedium : 34em;
$medium : 45em;
$larg : 75em;

/*------ colors -----------*/


$red : #BC3154;

$orang : #ff7302;
$orangHover : #ffa902;

$grey3: #777777;
$grey2 : #CCCCCC;
$grey1 : #E6E6E6;

$black2 : #282828;
$black1 : #111;


$white : #fff;
$white2 : #F8F8F8;
$glassyBlack : rgba(44, 35, 40, 0.85);
$glassyWhite : rgba(255, 255, 255, 0.85);


