/* footer style */
footer.site-footer,.site-footer{
	width : 100%;
	margin :0;
	padding : 15px;
	text-align : left;
	background-color: $black1;
	color : $grey2;
	font-size : 90%;
	.site-designer{
		float : right;
		font-size : 90%;
	}
	
}
.products-area{
	.products-widget-col{
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(3,12);
			&:nth-of-type(4n){
				@include span-columns(3 omega,12);

			}
		}
		.widget{
			width : 100%;
		}
	}
	
}
.contact-area{
	.widget.footer-second{
		
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(4,12);
			&:nth-of-type(3n){
				@include span-columns(4 omega,12);

			}
		}
	}
}


