/* header style */
.top-bar{
	background-color : $black1;
	text-align : right;
	padding-left : 30px;
	.lang-icon{
		padding :{
			left : 8px;
		}
	}
	#lang_sel_list {
	    height: 26px;
	    position: relative;
	    z-index: 99;
	    font-family: verdana, arial, sans-serif;
	    padding: 5px;

	    a{
	    	background-color : $black1;
	    }
	}
}
.hero{
	background-color : $black2;
	color : $white;
	position: relative;
	.logo-wrapper{
		width : 100%;
		max-width : 100%;
		text-align : center;
		@include at-breakpoint($medium) {
			max-width : 140px;
		}
		display: inline-block;
		padding : 20px 10px 10px;
		overflow: hidden;
	}
	.site-desc{
		display : none;
		@include at-breakpoint($medium) {
			display : inline-block;
		}
		// position : absolute;
		// top : 40px;
		// left : 20px;
		float : right;
		margin-top : 40px;
		padding : 10px;
		position : relative;
		&:after{
			display : inline-block;
			position : absolute;
			bottom : 0;
			left : 0;
			height : 2px;
			width : 400px;
			max-width: 100%;
			background-color: $red;
			content : "";
		}
	}

}

// ---------- NAVIGATION---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}



 
 
nav.main-menu{
	position : relative;
	z-index : 9998 !important;
	.search-area{
		display: none;
		@include at-breakpoint($medium) {
		  	display : inline-block;
		}
		position : absolute;
		margin-top : 5px;
		right : 30px;
		top : 13px;
		input{
			height : 32px;
			color : $black1;
			font-size : 90%;
			
		}
		label,button {
			display : none;
		}
		&:before{
			@extend .fa;
			content : "\f002";
			position : absolute;
			    top: 8px;
			    right: 7px;
			    font-size: 110%;
			    color: $grey2;

		}
	}
	
}
	
ul.main-nav{
	//@include single-transition(all , 0.2s , ease-in-out);
	font-size : 90%;
	margin-bottom : -30px;
	padding : 0;
	 background-color : $white2;
	a{
		@include single-transition(all , 0.2s , ease-in-out);
		color : $grey3;
		padding : 20px 17px;
		display: inline-block;
		
		&:hover{
			// color : $black1;
			color : $white2;
			background-color : $black2;
			
		}
	}
	li{
		display: inline-block;
		position : relative;
		padding: 0;
    	margin: 0;
		

	}
	
	&>li.menu-item-has-children>a:after{
		@extend .fa;
		content: "\f0d7";
		vertical-align : middle;
		padding-left: 5px;
		// width walker added
		position: absolute;
    	right: 1px;
    	top: 41%;
	}
	
	&>li>ul.sub-menu,li ul.sub-menu{
		//@include single-transition(all , 0.8s , ease-in-out);
		z-index : 0;
		text-align : center;
		padding : 0;
		margin : 0;
		opacity: 0;
		position : absolute;
		top : 100%;
		left : -30%;
		@include display-none;
		
		
		
		li{
			//display: none;
			background-color : $white2;
	 		@include animation('move-down .5s 1');
		}
		
		a{
			min-width : 220px;
			padding : 10px 20px;
			&:hover{
				// color : $white2;
				// background-color : $black2;
			}
		}
		li.menu-item-has-children>a:after{
			@extend .fa;
			content: "\f0da";
		    right: 12px;
		    position: absolute;
		        top: 16px;
		    vertical-align : middle;
		}
	}
	&>li:hover{
		
		&>ul.sub-menu{
			opacity: 1;
			visibility: visible;
	  		transition-delay:0s;
	  		z-index : 9999;
			&>li{
				//display: inline-block;
				//opacity : 1;
				@include animation('move-up .5s 1');
			}

			
		}
	}
	
	&>li>ul.sub-menu li ul{
		//@include single-transition(all , 0.8s , ease-in-out);
		z-index : 0;
		text-align : center;
		padding : 0;
		margin : 0;
		opacity: 0;
		display: inline-block;
		left : 100%;
		top : 0;
		@include display-none;
		
		
		
		
		li{
			//display: none;
			background-color : $white2;
	 		@include animation('move-down .5s 1');
		}
		
		a{
			min-width : 180px;
			padding : 15px;
			&:hover{
				// color : $white2;
				// background-color : $black2;
			}
		}
	}
	&>li>ul.sub-menu li:hover{
		
		&>ul.sub-menu{
			opacity: 1;
			visibility: visible;
	  		transition-delay:0s;
	  		z-index : 9999;
			&>li{
				//display: inline-block;
				//opacity : 1;
				@include animation('move-up .5s 1');
			}

			
		}
	}
	ul.sub-menu li:hover ul{
		display: inline-block;
		left : 100%;
		top : 0;

	}
	li.item-home a:before{
		@extend .fa;
		display : inline-block;
		content : "\f015";
		vertical-align: middle;
		margin-right: 7px;
	}
}

li.menu-item{
	&>a img {
	    float: left;
	    vertical-align: -webkit-baseline-middle;
	}
	&>a span {
	    vertical-align: text-top;
	}
}

