/* main style */

.layout{
	@include container;
	position : relative;
}
body{
	max-width : 1400px;
	background-color : $grey2;
	margin : auto;
	
	z-index : 1;
	&.body-wrapper {
	  display: none;
	}
	&.pg-loaded > .body-wrapper {
	  display: block;
	}
}
.body-wrapper{
	width : 100%;
	background-color : $white;
	margin:auto;
	
}
.site-main{
	z-index : 10;
}
.banner-wrapper{
	width : 100%;
	height: 400px;
	overflow:hidden;
	img{
		width : auto;
		max-height: 100%;
	}
	#slides{
		max-height : 100%;
		i.fa.fa-chevron-left,i.fa.fa-chevron-right {
		    font-size: 120%;
		    color: $white;
		    background-color: $glassyBlack;
		    padding: 8px 10px;
		    border-radius: 50%;
		    margin-left: 7px;
		    opacity : 0.7;
		    &:hover{
		    	opacity : 1;
		    }
		}
		i.fa.fa-chevron-right{
			margin-right : 7px;
		}
		.slides-pagination{
			margin-bottom : 15px;
			a {
			    border: 4px solid $grey1;
			    background-color: $grey2;
			    border-radius: 15px;
			    width: 16px;
			    height: 16px;
			    &.current{
			    	background-color :$grey3;
			    }
			}
		}
	}
}


//-------------site-content-------------------
.primary{
 	@include span-columns(8,12);
 	padding:{
		top :20px;
		bottom : 20px;
	}
}
article{
	
	padding : 20px;
	.article-title{
		font-size : 100%;
		position : relative;
		display : inline-block;
		border-bottom : 1px solid $grey2;
		margin-bottom : 20px;
		width : 100%;
		h3{
			margin : 0;
			padding : 10px 0;
			display : inline-block;
			&::after{
				@include single-transition(all 0.2s ease-out);
				display : block;
				content : "";
				width : 30px;
				height : 3px;
				background-color : $red;
				position : absolute;
				bottom : 0px;
				right : 0;
			}
						
		}
	}
	&:hover .article-title h3::after{
		width : 40%;
	}
	p{
		margin : 5px;
	}
}

.secondary{
	@include span-columns(4 omega,12);
	display : block;
	
	padding:{
		top :20px;
		bottom : 20px;
	}
}
aside{
	font-size : 100%;
	padding:20px;
	background-color : $grey1;
	margin-bottom : 20px;
	.widgettitle{
		width : 100%;
		position : relative;
		display : inline-block;
		border-bottom : 1px solid $grey2;
		margin-bottom : 20px;
		h4{
			margin : 0;
			padding : 10px 0;
			&::after{
				@include single-transition(all 0.2s ease-out);
				display : block;
				content : "";
				width : 30px;
				height : 3px;
				background-color : $red;
				position : absolute;
				bottom : 0px;
				right : 0;
			}
		}
	}
	&:hover .widgettitle h4::after{
		width : 40%;
	}
	p{
		margin : 5px;
	}
	i.fa:before{
		padding-left : 10px;
		color : $grey3;
	}
}

.products-area{
	background-color : $grey1;
}
.product-widget{
	
	ul.products-list{
		li{
			@include single-transition(all, .2s, ease-out);
			display: list-item;
			img{
				padding : 5px 5px 5px 12px;
				vertical-align: middle;
			}
			
		}
	}
}
.contact-area{
	aside{
		background-color : $white;
	}
}