/* main style */

.layout{
	@include container;
	position : relative;
}
body{
	max-width : 1400px;
	background-color : $grey2;
	margin : auto;
	
	z-index : 1;
}
.body-wrapper{
	width : 100%;
	background-color : $white;
}
.site-main{
	z-index : 10;
}
.banner-wrapper{
	width : 100%;
	height: 400px;
	overflow:hidden;
	img{
		width : auto;
		max-height: 100%;
	}
	#slides{
		max-height : 100%;
		i.fa.fa-chevron-left,i.fa.fa-chevron-right {
		    font-size: 120%;
		    color: $white;
		    background-color: $glassyBlack;
		    padding: 8px 10px;
		    border-radius: 50%;
		    margin-left: 7px;
		    opacity : 0.7;
		    &:hover{
		    	opacity : 1;
		    }
		}
		i.fa.fa-chevron-right{
			margin-right : 7px;
		}
		.slides-pagination{
			margin-bottom : 15px;
			a {
			    border: 4px solid $grey1;
			    background-color: $grey2;
			    border-radius: 15px;
			    width: 16px;
			    height: 16px;
			    &.current{
			    	background-color :$grey3;
			    }
			}
		}
	}
}


//-------------site-content-------------------
.primary{
 	@include span-columns(8,12);
 	padding:{
		top :20px;
		bottom : 20px;
	}
	article{
		@include span-columns(6,12);
		&:nth-child(2n){
			@include span-columns(6 omega,12);
		}
		padding : 20px;
		.article-title{
			position : relative;
			display : inline-block;
			border-bottom : 1px solid $grey2;
			margin-bottom : 20px;
			width : 100%;
			
			h3{
				margin : 0;
				padding : 10px 0;
			
				&:after{
					width : 30px;
					height : 5px;
					background-color : $red;
					position : absolute;
					bottom : 10px;
					right : 0;
				}
			}
		}
	}
}
.secondary{
	@include span-columns(4 omega,12);
	padding:{
		top :20px;
		bottom : 20px;
	}
	aside{
		padding:20px;
		background-color : $white2;
		margin-bottom : 20px;
		.widgettitle{
			width : 100%;
			position : relative;
			display : inline-block;
			border-bottom : 1px solid $grey2;
			margin-bottom : 20px;
			h3{
				margin : 0;
				padding : 10px 0;
			}
		}
	}
}