/*--- comment ----------------*/
.comments-area{
margin-top : 50px;
padding-top : 0;
}
.comments-title {
padding-top : 30px;
padding-bottom : 10px;
border-bottom : 1px solid $grey1;
line-height : 1.5;
font-size: 90%;
color : $navy2;
}
.comments-title .icon-comment {
font-size : 25px;
}
ol.comment-list {
padding-left : 0;
margin-left : 0;
list-style : none;
}
ol.comment-list li.comment article.comment-body {
border-bottom : 1px solid $grey1;
overflow:hidden;
	p.comment-awaiting-moderation {
	    position: absolute;
	    // bottom : 10px;
	    // right : 10px;
	    color : $skyblue1;
	}
}
.comment-body {
padding-bottom : 10px;
}
.comment-meta {
width : 100px;
text-align : center;
float : right;
margin : 0 10px;
}
.comment-author {
padding : 10px;
}
.comment-author .avatar {
display : block;
margin : auto;
}
.comment-meta a {
font-size : smaller;
}
.fn {
padding : 10px 0;
clear : both;
-ms-word-wrap: break-word;
word-wrap: break-word;
}
.says {
display : none;
}
.edit-link {
clear : both;
}
.comment-content {
padding : 20px 20px 0;
}
.reply a {
float : left;
color : $skyblue1;
}
#respond {
position : relative;
top : 20px;
padding : 30px;
max-width : 100%;
}
a#cancel-comment-reply-link {
font-style : italic;
float : right;
display : block;
color : $skyblue1;
}
a#cancel-comment-reply-link .icon-cancel {
margin : 0 5px;
padding : 3px;
border-radius : 4px;
cursor : pointer;
}
.comment-notes {
max-width : 100%;
font-size : 80%;
margin-bottom : 10px;
}
.form-allowed-tags {
max-width : 100%;
font-size : 80%;
color : $navy2;
}
.form-submit {
padding : 10px;
}
.depth-2, .depth-3, .depth-4, .depth-5 {
margin-right : 40px;
width : 100%;
}
.comment-respond{
	border-top : 1px solid $navy2;
	input[type="text"]{
    
	    width: 100%;
	    outline: none;
	    border: none;
	    background-color: $grey2;
	    padding: 10px;
	}
	textarea#comment {
    
	    width: 100%;
	    outline: none;
	    border: none;
	    background-color: $grey2;
	    padding: 10px;
	}
	label {
   	 padding: 10px;
	}
	p{
		padding : 5px;
		margin : auto;

	}

}