/* form style */
input#s {
    outline: none;
    border: 1px solid $grey2;
    background-color: $white2;
    padding: 7px;
    //padding-left : 30px;
}
.search-area{
	input#s {
		padding:{
			top : 0;
			bottom : 0;
		}
	}	
}