/* form style */
input#s {
    outline: none;
    border: none;
    background-color: $grey1;
    padding: 7px;
    padding-left : 30px;
}
.search-area{
	input#s {
		padding:{
			top : 0;
			bottom : 0;
		}
	}	
}