/* footer style */
footer.site-footer,.site-footer{
	
	text-align : right;
	.site-designer{
		float : left;
	}
	
}
.products-area{
	.widget.footer-first{
		@include span-columns(3,12);
		margin-right : auto;
		&:nth-of-type(4n){
			@include span-columns(3 omega,12);

		}
	}
	
}
.contact-area{
	.widget.footer-second{
		background-color : $white;
		@include span-columns(4,12);
		margin-right : auto;
		&:nth-of-type(3n){
			@include span-columns(4 omega,12);

		}
	}
}


