/* header style */
.top-bar{
	
	text-align : left;
	padding-left : 30px;
	.lang-icon{
		padding :{
			right : 8px;
			left: auto;
		}
	}
	#lang_sel_list {
	   float : left;
	}
	
}
.hero{
	
	.site-desc{
		font-size : 110%;
		font-weight : 600;
		// position : absolute;
		// top : 40px;
		// left : 20px;
		//margin-left : 40px;
		//margin-right : auto;
		float : left;
		position : relative;
		&:after{
			position : absolute;
			bottom : 20px;
			right : 100%;
			left : auto;
			
		}
	}

}

// ---------- NAVIGATION---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}



 
 
nav.main-menu{
	
	.search-area{
		position : absolute;
		
		left : 30px;
		right : auto;
		top : 13px;
		input{
			float : left;
		}
		
		&:before{
			position : absolute;
			    top: 8px;
			    left: 7px;
			    right : auto;
			    

		}
	}
	a.menu-toggler{
			float : right ;
			
	}
	
}
	
ul.main-nav{
	//@include single-transition(all , 0.2s , ease-in-out);
	font-size : 110%;
	font-weight : bold;
	
	
	
	
	&>li.menu-item-has-children>a:after{
		@extend .fa;
		content: "\f0d7";
		padding-right: 5px;
		padding-left: auto;

		// width walker added
		position: absolute;
    	left: 1px;
    	right: auto;
    	top: 41%;
	}
	
	&>li>ul.sub-menu,li ul.sub-menu{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		position : absolute;
		top : 100%;
		right : -30%;
		left : auto;
		
		
		
		
		
		li.menu-item-has-children>a:after{
			
			content: "\f0d9";
		    left: 14px;
		    right: auto;
		    position: absolute;
		    top: 16px;
		    
		}
	}
	
	
	&>li>ul.sub-menu li ul{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		right : 100%;
		left : auto;
		top : 0;
		
	}
	
	ul.sub-menu li:hover ul{
		
		right : 100%;
		left : auto;
		top : 0;

	}
	li.item-home a:before{
		margin-left: 7px;
		margin-right: auto;
	}
	&>li.mega-menu{
		&>ul.sub-menu{
			
			right : -85%;
			left : auto;
			
			
			@include at-breakpoint(64em){
				width : 57em;
				max-width : 57em;
			}

			
			&>.sub-menu-wrap>li{
					font-size: smaller;
					
					@include span-columns(3,12);
					width : 25%;
					// &:nth-of-type(4n){
					// 	@include omega;
					// }
					margin-right : auto;
					margin-left : auto;

				
				@include at-breakpoint(62em){
					@include span-columns(2,12);
					width : 15%;
					// &:nth-of-type(6n){
					// 	@include omega;
					// }
					margin-right : auto;
					margin-left : auto;

				}
				margin-right : auto;
				margin-left : auto;
				border-left : 0px;
				border-right : 1px solid $grey1;

							
				
			}
		}
		
		

		
	}
	
}

li.menu-item{
	&>a img {
	    float: right;
	    
	}
	
}

