/* header style */
.top-bar{
	
	text-align : left;
	padding-left : 30px;
	.lang-icon{
		padding :{
			right : 8px;
			left: auto;
		}
	}
	
}
.hero{
	
	.site-desc{
		// position : absolute;
		// top : 40px;
		// left : 20px;
		float : left;
		position : relative;
		&:after{
			position : absolute;
			bottom : 0;
			right : 0;
			left : auto;
			
		}
	}

}

// ---------- NAVIGATION---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}



 
 
nav.main-menu{
	
	.search-area{
		position : absolute;
		
		left : 30px;
		right : auto;
		top : 13px;
		
		
		&:before{
			position : absolute;
			    top: 8px;
			    left: 7px;
			    right : auto;
			    

		}
	}
	
}
	
ul.main-nav{
	//@include single-transition(all , 0.2s , ease-in-out);
	font-size : 100%;
	
	
	
	
	&>li.menu-item-has-children>a:after{
		@extend .fa;
		content: "\f0d7";
		padding-right: 5px;
		padding-left: auto;

		// width walker added
		position: absolute;
    	left: 1px;
    	right: auto;
    	top: 41%;
	}
	
	&>li>ul.sub-menu,li ul.sub-menu{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		position : absolute;
		top : 100%;
		right : -30%;
		left : auto;
		
		
		
		
		
		li.menu-item-has-children>a:after{
			
			content: "\f0d9";
		    left: 14px;
		    right: auto;
		    position: absolute;
		    top: 16px;
		    
		}
	}
	
	
	&>li>ul.sub-menu li ul{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		right : 100%;
		left : auto;
		top : 0;
		
		
		
		
		
		
		
	}
	
	ul.sub-menu li:hover ul{
		
		right : 100%;
		left : auto;
		top : 0;

	}
	li.item-home a:before{
		margin-left: 7px;
		margin-right: auto;
	}
}

li.menu-item{
	&>a img {
	    float: right;
	    
	}
	
}

