/* main style */

.layout{
	@include container;
	position : relative;
}

//-------------site-content-------------------
.primary{
 	@include span-columns(12,12);
 	@include at-breakpoint($medium){
 		@include span-columns(8,12);
 		margin-right : auto;
 	}
 	
 	padding:{
		top :20px;
		bottom : 20px;
	}
	
}
.without-sidebar{
	.primary{
		@include span-columns(12,12);
		margin-right : auto;
		margin : auto;
		article .featured-image{
			@include span-columns(12,12);
		 	@include at-breakpoint($medium){
		 		@include span-columns(5,12);
		 		margin-right : auto;
		 	}
			
		}
		article .article-body{
			@include span-columns(12,12);
		 	@include at-breakpoint($medium){
		 		@include span-columns(7 omega,12);
		 		margin-right : auto;
		 	}
			p{
				padding : 5px;
				text-align: justify;
			}
		}

	}
	
}
article,.hentry{
	
	
	.article-title{
		font-size : 100%;
		position : relative;
		h3{
			&::after{
				position : absolute;
				bottom : 0px;
				right : 0;
				left : auto;
			}
						
		}
	}
	
	
	
}
body.archive{
	article {
			
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(6,12);
			margin-right : auto;
			&:nth-of-type(2n){
				@include span-columns(6 omega ,12);
			}
		}
	}
}

.secondary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(4 omega,12);
		margin-right : auto;
		
	}
	display : block;
	
	padding:{
		top :20px;
		bottom : 20px;
	}
}
.widget{
	font-size : 100%;
	
	h4.widgettitle{
		
		position : relative;
		
		&:after{
			position : absolute;
			bottom : 0px;
			right : 0;
			left : auto;
		}
		
	}
	// &:hover .widgettitle h4::after{
	// 	width : 40%;
	// }
	
	i.fa:before{
		padding-left : 10px;
		padding-right : auto;
		
	}
	
}


	
ul.widget-list{
	li{
		
		img{
			margin : 5px 5px 5px 12px;
			
		}
		
	}
}
ul.social-links{
	li{
	
		a.sicon{
			&:before{
				
				margin : 0px 3px 0px 12px;
				
				
			}
		}
		

	}
}

