ul.main-nav .sub-menu a{
  background-color: #F8F8F8;
  color : #282828;

}
ul.main-nav .sub-menu a:hover{
  background-color: #282828;
  color : #F8F8F8;

}
div.search-area{
  width : 120px;
}
.tp-caption{
  background-color: #282828;
}