/* fonts */
@include font-face("Bgothic", font-files("bank-gothic-medium.ttf", "bank-gothic-medium.woff"),"bank_gothic_medium.eot");


$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$Bgothic : "Bgothic";
